*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/01Java/02PaquetesB/02PaquetesB/nbproject/private/
/01Java/02PaquetesB/02PaquetesB/build/
/02Java/01WebAplication/WebApplication1/nbproject/private/
/02Java/01WebAplication/WebApplication1/build/
/02Java/02WebAplication/WebApplication2/nbproject/private/
/02Java/02WebAplication/WebApplication2/build/